.Categories {
  margin: 1%;
}

.Categories span {
  display: block;
  position: relative;
  bottom: 83%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  color: whitesmoke;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
