.AddCompany {
  height: 100%;
  margin: 3%;
}

.AddCompany .TitleMain {
  font-size: x-large;
  font-weight: bold;
}

.AddCompany .FieldText {
  width: 410px;
}

.AddCompany Button {
  text-transform: capitalize;
  font-size: 12pt;
}
