.CustomerCouponCard {
  height: 100%;
  padding-bottom: 10%;
  width: 330px;
  max-height: 250px;
}

.CustomerCouponCard image {
  color: black;
}

.CustomerCouponCard a {
  text-decoration: none;
}

.CustomerCouponCard button {
  color: blueviolet;
  background-color: whitesmoke;
  text-transform: capitalize;
  font-size: 11pt;
}

.CustomerCouponCard button:hover {
  color: whitesmoke;
  background-color: blueviolet;
}
