body,
html,
#root {
  margin: 0;
  padding: 0%;
  height: 100%;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.Box {
  display: inline-block;
  text-align: center;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 11pt;
}

.IconEdit {
  color: green;
}

.IconDelete {
  color: red;
}

.CancelLink {
  margin-right: 10px;
  text-decoration: none;
  text-transform: capitalize;
  height: 60px;
  color: black;
}

.CancelLink:hover {
  font-weight: bolder;
}

.AddUpdateBtn {
  width: 410px;
  height: 40px;
}

.AddUpdateBtn:hover {
  font-weight: bolder;
}
